In [17]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [22]:
onnshp = gpd.read_file("C:/data/L3Pilot/Onntk/stad/StadiHarriOnnNNjoin_WMEANVERSION2.shp")
onnshp.to_csv("C:/data/L3Pilot/Onntk/stad/StadiHarriOnnNNjoin_WMEANVERSION2.csv")

In [25]:
onn = pd.read_csv("C:/data/L3Pilot/Onntk/stad/StadiHarriOnnNNjoin_WMEANVERSION2.csv", sep=",")
#onncollist = list(onn.columns)
#onn = onn.drop([onncollist[0]])


onn["sykavlrv"] = onn["SY KAVL+RV"]
onn["kl"] = onn["KATULUOKKA"]
onn["katu"] = onn["KATU"]

In [26]:
onnshp.head()

,nro,vv,ilmnro,x,y,vakav,olk2,H_ID,KATU_left,KATULUOKKA,...,LA,MP,RV,AUTOT,SY KAVL+RV,ID_NEW,WMEAN_KVL,pitklink_p,distance,geometry
0,1,2014,5500R0046038814,401280.5369,6.682714e+06,2,3,553.0,PORVOONVÃ?â??YLÃ?â??,1.0,...,400.0,61.0,0.0,35836.0,37962.0,1172.0,37485.783002,6293.135153,18.227653,POINT (401280.537 6682713.696)
1,3,2014,5500R0046049914,385597.3779,6.672125e+06,2,3,437.0,MANNERHEIMINTIE,3.0,...,308.0,34.0,600.0,9291.0,10430.0,82.0,16458.191843,663.423305,10.595136,POINT (385597.378 6672125.431)
2,4,2014,5500R0046058414,385078.6841,6.673323e+06,2,3,436.0,MANNERHEIMINTIE,2.0,...,141.0,105.0,629.0,13463.0,14891.0,109.0,26761.586214,4830.428802,6.121222,POINT (385078.684 6673323.190)
3,6,2014,5500R0046089214,382897.8554,6.676504e+06,3,2,182.0,LAPINMÃ?â??ENTIE,2.0,...,416.0,92.0,0.0,18063.0,19122.0,303.0,19122.000000,655.277909,0.011968,POINT (382897.855 6676504.226)
4,7,2014,5500R0046089314,386625.0521,6.673449e+06,2,2,29.0,HÃ?â??MEENTIE,3.0,...,2500.0,43.0,317.0,7192.0,7791.0,148.0,8602.059609,2245.856127,5.882301,POINT (386625.052 6673449.356)

In [27]:
onn.columns

Index(['Unnamed: 0', 'nro', 'vv', 'ilmnro', 'x', 'y', 'vakav', 'olk2', 'H_ID',
       'KATU_left', 'KATULUOKKA', 'group', 'HA', 'PA', 'KA', 'RA', 'LA', 'MP',
       'RV', 'AUTOT', 'SY KAVL+RV', 'ID_NEW', 'WMEAN_KVL', 'pitklink_p',
       'distance', 'geometry'],
      dtype='object')

In [28]:
idvalues = np.unique(onn["H_ID"])
idvector = list(idvalues)
#len(idvector)
print(idvector)

[0.0, 3.0, 4.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 15.0, 17.0, 18.0, 19.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 36.0, 37.0, 40.0, 43.0, 44.0, 45.0, 47.0, 49.0, 52.0, 53.0, 55.0, 57.0, 58.0, 59.0, 60.0, 61.0, 64.0, 67.0, 70.0, 71.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 82.0, 84.0, 88.0, 93.0, 94.0, 95.0, 97.0, 99.0, 100.0, 101.0, 103.0, 104.0, 106.0, 107.0, 108.0, 109.0, 111.0, 113.0, 114.0, 115.0, 116.0, 117.0, 119.0, 122.0, 125.0, 126.0, 127.0, 128.0, 129.0, 130.0, 131.0, 132.0, 134.0, 135.0, 136.0, 137.0, 138.0, 141.0, 144.0, 145.0, 148.0, 149.0, 150.0, 151.0, 152.0, 153.0, 154.0, 155.0, 156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162.0, 163.0, 164.0, 165.0, 166.0, 167.0, 170.0, 171.0, 172.0, 173.0, 174.0, 176.0, 178.0, 179.0, 180.0, 181.0, 182.0, 183.0, 184.0, 185.0, 187.0, 188.0, 191.0, 192.0, 193.0, 195.0, 197.0, 198.0, 199.0, 200.0, 202.0, 203.0, 204.0, 206.0, 207.0, 208.0, 209.0, 211.0, 213.0, 214.0, 215.0, 216.0, 219.0, 220.0, 222.0, 223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229.0, 231.0, 233.0, 234.0, 236.0, 237.0, 238.0, 239.0, 240.0, 241.0, 242.0, 243.0, 244.0, 245.0, 246.0, 247.0, 249.0, 250.0, 251.0, 252.0, 256.0, 257.0, 258.0, 259.0, 260.0, 262.0, 264.0, 265.0, 267.0, 268.0, 269.0, 270.0, 272.0, 274.0, 276.0, 277.0, 280.0, 282.0, 283.0, 286.0, 287.0, 288.0, 291.0, 293.0, 294.0, 295.0, 297.0, 299.0, 300.0, 304.0, 307.0, 308.0, 309.0, 310.0, 311.0, 312.0, 313.0, 315.0, 316.0, 318.0, 319.0, 320.0, 321.0, 325.0, 326.0, 327.0, 328.0, 329.0, 331.0, 332.0, 333.0, 334.0, 335.0, 336.0, 339.0, 341.0, 342.0, 343.0, 344.0, 345.0, 346.0, 347.0, 348.0, 349.0, 350.0, 351.0, 352.0, 353.0, 354.0, 355.0, 356.0, 358.0, 359.0, 360.0, 369.0, 370.0, 372.0, 373.0, 374.0, 376.0, 377.0, 378.0, 379.0, 382.0, 385.0, 387.0, 388.0, 389.0, 391.0, 394.0, 395.0, 396.0, 397.0, 398.0, 399.0, 400.0, 401.0, 404.0, 405.0, 407.0, 408.0, 411.0, 412.0, 413.0, 415.0, 418.0, 419.0, 420.0, 421.0, 422.0, 423.0, 424.0, 425.0, 427.0, 428.0, 429.0, 430.0, 431.0, 436.0, 437.0, 438.0, 439.0, 440.0, 447.0, 448.0, 450.0, 451.0, 452.0, 454.0, 456.0, 457.0, 459.0, 460.0, 461.0, 463.0, 465.0, 469.0, 470.0, 473.0, 475.0, 476.0, 478.0, 480.0, 481.0, 482.0, 484.0, 486.0, 488.0, 492.0, 494.0, 495.0, 497.0, 498.0, 499.0, 501.0, 502.0, 503.0, 504.0, 505.0, 506.0, 507.0, 508.0, 511.0, 512.0, 513.0, 514.0, 515.0, 516.0, 517.0, 518.0, 519.0, 521.0, 522.0, 523.0, 525.0, 526.0, 528.0, 531.0, 532.0, 534.0, 535.0, 537.0, 539.0, 540.0, 541.0, 543.0, 546.0, 547.0, 548.0, 549.0, 550.0, 552.0, 553.0, 554.0, 555.0, 557.0, 559.0, 563.0, 564.0, 565.0, 566.0, 567.0, 568.0, 569.0, 571.0, 577.0, 578.0]

In [29]:
grouped = onn.groupby("H_ID")

In [30]:
len(grouped)

384

In [31]:
colnames = ["ID", "Section", "Type", "Length (km)", "ADT", "All injury acc", "Head-on", "VRU", "Other"]
df = pd.DataFrame(columns = colnames)
df["ID"] = idvector

In [42]:
# Create empty vectors. These will be filled with accidents of specified type and added to final dataframe
OtherVectorFinal = []
VRUVectorFinal = []
HeadOnVectorFinal = []
AllInjuryFinal = []

# Create empty vectors
WMEAN_KVL = []
pitklink_p = []
KATULUOKKA = []
distance = []
KATU_left = []

columnlist = ["distance", "WMEAN_KVL", "pitklink_p", "KATULUOKKA", "KATU_left"]
columnlistobj = [distance, WMEAN_KVL, pitklink_p, KATULUOKKA, KATU_left]

# Iterate over groups (road IDs)
for i in idvector:
    
    # reset vectors
    OtherVector = []
    VRUVector = []
    HeadOnVector = []
    
    # access road's accident types
    grp = grouped.get_group(i)
    grp = grp.reset_index()
    grp = grp[["olk2", "KATU_left", "WMEAN_KVL", "pitklink_p", "distance", "KATULUOKKA"]] # Insert colnames with road name + ADT stuff here
    
    #add necessary columns into a list of lists
    for x in range(0, len(columnlist)):
        columnlistobj[x].append(grp[columnlist[x]].iloc[0])

    # save road's accident types to vectors
    occurrencesOne = np.count_nonzero(grp["olk2"] == 1)
    HeadOnVector.append(occurrencesOne)
    occurrencesTwo = np.count_nonzero(grp["olk2"] == 2)
    VRUVector.append(occurrencesTwo)
    occurrencesThree = np.count_nonzero(grp["olk2"] == 3)
    OtherVector.append(occurrencesThree)
    
    # sum accident types for road being looped
    HeadOnRoad = sum(HeadOnVector)
    VRURoad = sum(VRUVector)
    OtherRoad = sum(OtherVector)
    AllInjury = (HeadOnRoad+VRURoad+OtherRoad)
    
    # Add sums to final vectors
    HeadOnVectorFinal.append(HeadOnRoad)
    VRUVectorFinal.append(VRURoad)
    OtherVectorFinal.append(OtherRoad)
    AllInjuryFinal.append(AllInjury)
    
#Add final vectors to df
df["Head-on"] = HeadOnVectorFinal
df["VRU"] = VRUVectorFinal
df["Other"] = OtherVectorFinal
df["All injury acc"] = AllInjuryFinal

for i in range(0, len(columnlist)):
    df[columnlist[i]] = columnlistobj[i]
    
#ADT and length
df["ADT_(Wmean)"] = df["WMEAN_KVL"]
df["Length (km)"] = df["pitklink_p"]/1000
df["Type"] = df["KATULUOKKA"]
df["Section"] = df["KATU_left"]
df = df.drop(["WMEAN_KVL", "KATU_left", "KATULUOKKA", "distance", "pitklink_p"], axis=1)


df

,ID,Section,Type,Length (km),ADT,All injury acc,Head-on,VRU,Other,ADT_(Wmean)
0,0.0,REIJOLANKATU,2.0,0.249899,13676.000000,6,0,5,1,13676.000000
1,3.0,ILMALANKATU,3.0,1.271118,6835.000000,1,0,0,1,6835.000000
2,4.0,KUMPULANTIE,3.0,0.446630,8755.064877,3,0,3,0,8755.064877
3,8.0,KEHÃ?â?? 1 RAMPPI,6.0,0.310665,9091.000000,1,0,0,1,9091.000000
4,9.0,KEHÃ?â?? 1 RAMPPI,6.0,0.276790,13831.000000,1,0,1,0,13831.000000
...,...,...,...,...,...,...,...,...,...,...
379,568.0,SOMERIKKOTIE,3.0,0.737584,8938.249322,3,1,1,1,8938.249322
380,569.0,NORDENSKIÃ?â??LDINKATU,2.0,1.376954,25451.543936,17,0,6,11,25451.543936
381,571.0,SELKÃ?â??MERENKATU,4.0,0.456165,2503.000000,1,0,1,0,2503.000000
382,577.0,TEHTAANKATU,4.0,1.222981,5195.406046,7,0,6,1,5195.406046
383,578.0,SYSIMIEHENTIE,4.0,1.966900,2363.817073,1,0,0,1,2363.817073

In [43]:
#HeadOnVectorFinal

In [44]:
len(KATU_left)

384

In [45]:
df["VRU"]

0      5
1      0
2      3
3      0
4      1
      ..
379    1
380    6
381    1
382    6
383    0
Name: VRU, Length: 384, dtype: int64

In [46]:
# Is number of accidents same?
sum(df["All injury acc"]) == len(onn)

True

In [41]:
df.to_csv('StadiHarriTest_lajiteltu_WMEAN2.csv')